/vendor/
/composer.lock
/.idea/
/app/etc/**
!/app/etc/modules/
!/app/etc/modules/Grupojuinsa_*.xml
/app/design/
/app/locale/
/app/.htaccess
/app/bootstrap.php
/app/Mage.php
/app/code/community
/app/code/core
/dev/
/downloader/
/errors/
/includes/
/js/
/lib/
/media/
/shell/
/skin/
/var/
/.htaccess
/.htaccess.sample
/api.php
/cron.php
/cron.sh
/favicon.ico
/get.php
/index.php
/index.php.sample
/install.php
/LICENSE.html
/LICENSE.txt
/LICENSE_AFL.txt
/mage
/php.ini.sample
/RELEASE_NOTES.txt
