<?xml version="1.0"?>

<config>
    <modules>
        <Grupojuinsa_Pahero>
            <version>1.0.0</version>
        </Grupojuinsa_Pahero>
    </modules>
    <global>
        <models>
            <pahero>
                <class>Grupojuinsa_Pahero_Model</class>
            </pahero>
        </models>
        <helpers>
            <pahero>
                <class>Grupojuinsa_Pahero_Helper</class>
            </pahero>
        </helpers>
        <blocks>
            <pahero>
                <class>Grupojuinsa_Pahero_Block</class>
            </pahero>
        </blocks>
    </global>
    <frontend>
        <routers>
            <pahero>
                <use>standard</use>
                <args>
                    <module>Grupojuinsa_Pahero</module>
                    <frontName>pahero</frontName>
                </args>
            </pahero>
        </routers>
        <events>
            <controller_front_send_response_after>
                <observers>
                    <pahero_algo>
                        <class>pahero/observer</class>
                        <method>displayDameTuDinero</method>
                    </pahero_algo>
                </observers>
            </controller_front_send_response_after>
        </events>
        <translate>
            <modules>
                <Grupojuinsa_Pahero>
                    <files>
                        <default>Grupojuinsa_Pahero.csv</default>
                    </files>
                </Grupojuinsa_Pahero>
            </modules>
        </translate>
        <layout>
            <updates>
                <pahero>
                    <file>pahero.xml</file>
                </pahero>
            </updates>
        </layout>
    </frontend>
</config>
